@font-face {
    font-family: 'Back to Black Bold';
    src:  
        url('../fonts/Back%20to%20Black%20Bold.woff2') format('woff2'), 
        url('../fonts/Back%20to%20Black%20Bold.woff') format('woff'),
        url('../fonts/Back%20to%20Black%20Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Blazed';
    src: url('../fonts/Blazed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PaintDrops';
    src: url('../fonts/PaintDropsRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PirateGrunge';
    src: url('../fonts/Pirate%20Grunge.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.fonts {
    font-family: 'Lobster', cursive;
    font-family: 'Metal Mania', cursive;
    font-family: 'Norican', cursive;
    font-family: 'Pirata One', cursive;
    font-family: 'Trade Winds', cursive;
}